/** Page **/
* {
	font-family: 'Nunito', sans-serif;
}

body {
	height: 100vh;
	overflow: hidden;
}

.jumbotron {
	background-color: #81B9C3;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container {
	background-color: rgba(0, 0, 0, 0);
	width: 550px;
	margin-top: -150px;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.button {
	border-radius: 5px;
	border-width: 0px;
}

/** Landing page **/
.landing-icon {
	width: 104px;
	margin-right: 46px;
}

.landing-button {
	position: absolute;
	background-color: #31526E;
	width: 350px;
	height: 80px;
	font-size: 36px;
	color: #F26A59;
	margin-top: 12px;
}

/** Nav bar **/

.navbar {
	border-radius: 0px;
	height: 90px;
	position: relative;
	margin-bottom: 0px;
}

.navbar-default {
	background-color: #F26A59;
	border-width: 0px;
}

.navbar-brand-logo {
	width: 90px;
	position: absolute;
	left: 0;
}

.navbar-back-button {
	left: 30px;
}

.navbar-logo {
	color: white;
	font-size: 48px;
	text-align: center;
	height: 48px;
	width: 250px;
	margin-top: 21px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.esriPopupWrapper {
	width: 320px;
	height: 230px;
	border-radius: 3px;
	background-color: rgba(0,0,0, 0.4);
}

.sizer {
	width: 100% !important;
	height: 20px;
	background-color: rgba(0,0,0, 0);
}
.titlePane {
	width: 320px;
	background-color: gray;
}

.titlePane .spinner,
.titlePane .prev,
.titlePane .next,
.titlePane .maximize,
.esriPopup .pointer.top {
	display: none!important;

}

.sizer.content{
	width: 320px;
	height: 190px;
	background-color: gray;
}

.contentPane {
	width: 320px;
    vertical-align: middle;
    height: 190px;
    background-color: rgba(0,0,0,0)!important;
}

.discoverText {
	text-align: middle;
	height: 30px;
	font-size: 24px;
	color: white; 
	margin: 2px;
}

.esriPopup .actionsPane {
	visibility: hidden;
    background-color: rgba(0,0,0,0)!important;
    display: none!important;
}

.actionList {
	visibility: hidden;
}

.action.zoomTo {
    left: -10000px;
    visibility: hidden;
}

/** Login **/
.login-input {
    background-color: #F1F2F2;
    border-width: 0;
    width: 260px;
    height: 47px;
    margin-bottom: 34.5px;
    margin-left: 15px;
}

.login-container {
	background-color: white;
	max-width: 100%;
    padding-left: 56px;
    padding-right: 56px;
    padding-top: 75px;
    padding-bottom: 20px;
    border-radius: 5px;
    font-size: 20px;
    width: 500px;
}

.login-button {
	background-color: #F26A59;
	color: #F1F2F2;
	border-width: 0px;
	border-radius: 5px;
	height: 47px;
	width: 195px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.login-row {
	color: #31526E;
	margin-bottom: 20px;
	text-align: center;
}