/*-----------global------------*/
* {
	font-family: 'Nunito', sans-serif;
}

.navbar {
	border-radius: 0px;
	height: 90px;
	position: relative;
}

.navbar-default {
	background-color: #F26A59;
	border-width: 0px;
}

.navbar-brand {
	padding-top: 0;
	padding-left: 0;
}

.navbar-brand-logo {
	width: 90px;
	position: absolute;
	left: 0;
}

.navbar-back-button {
	left: 30px;
}

.navbar-logo {
	font-size: 48px;
	height: 48px;
	width: 250px;
	margin-top: 21px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}