<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}
  <body>
    {% include 'nav.html' %}

    <div class="jumbotron vertical-center">
  	  <div class="container">
  	  	<div class="row landing-row">
  	  	  <img class="landing-icon" src="img/factoryIcon.png">
  	  	  <a href="center-login"><button class="button landing-button">Recycling Center</button></a>
	  	</div>
  	  	<div class="row landing-row">
  	  	  <img class="landing-icon" src="img/PickerIcon.png">
  	  	  <a href="picker-login"><button class="button landing-button">Picker</button></a>
  	  	</div>
      </div>
    </div>
  </body>
</html>