<html>
{%include 'header.html'%}
<script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>

<body>
  {%include 'nav.html'%}

  {% if is_post %}
    <script type="text/javascript">
    var ref = new Firebase("https://scanvenger.firebaseio.com");
    ref.authWithPassword({
      email    : "{{data.username}}",
      password : "{{data.password}}"
    }, function(error, authData) {
      if (error) {
        alert(error);
        window.location = "#";
      } else {
        console.log("Authenticated successfully with payload:", authData.uid);
        var form = $('<form action="picker-home" method="post">' +
          '<input type="text" name="id" value="' + authData.uid + '"></form>');
        $('body').append(form);
        form.submit();
      }
    });
    </script>
  {% else %}
  <div class="jumbotron vertical-center">
      <div class="container login-container">
        <form action="#" method="post">
      <div class="row login-row">
              Center Name
              <input type="text" class="login-input" name="username" value="">
        </div>
          <div class="row login-row">
              Password
              <input type="password" class="login-input" name="password" value="">
          </div>
          <div class="row login-row">
        <input type="submit" class="login-button" value="Login">
      </div>
      <div class="row login-row">
        <a href="picker-signup">New Account</a>
      </div>
    </form>
      </div>
    </div>
  {% endif %}
</body>
</html>