<!DOCTYPE html>
<html>  
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--The viewport meta tag is used to improve the presentation and behavior of the
    samples on iOS devices-->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no">
    <title>Flickr</title>

    <link rel="stylesheet" href="http://js.arcgis.com/3.14/esri/css/esri.css">
    <style>
      html, body, #map {
        height:100%;
        width:100%;
        margin:0;
        padding:0;
      }
      .esriScalebar{
        padding: 20px 20px; 
      } 
      #map{ 
        padding:0;
      }

      .sizer {
        visibility: hidden;
        left: -10000px;
        bottom: -10000px;
      }

    </style>

    <script>var dojoConfig = { parseOnLoad: true };</script>
    <script src="http://js.arcgis.com/3.14/"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
      var map;
      require([
        "esri/map",
        "dojo/dom",
        "dojo/dom-construct",
        "esri/layers/FeatureLayer",
        "esri/dijit/PopupTemplate",
        "esri/request",
        "esri/geometry/Point",
        "esri/graphic",
        "dojo/on",
        "dojo/_base/array",
        "esri/renderers/HeatmapRenderer",
        "esri/tasks/GeometryService",
        "esri/tasks/query",
        "esri/geometry/Extent",
        "esri/dijit/InfoWindow",
        "esri/dijit/Popup",

      "esri/symbols/SimpleFillSymbol",
      "esri/symbols/SimpleLineSymbol",
      "esri/Color",
        "dojo/domReady!"
      ], function(
        Map, 
        dom,
        domConstruct,
        FeatureLayer, 
        PopupTemplate,
        esriRequest,
        Point,
        Graphic,
        on,
        array,
        HeatmapRenderer,
        GeometryService,
        Query,
        Extent,
        InfoWindow,
        Popup,
        SimpleFillSymbol,
        SimpleLineSymbol,
        Color
      ) {

        var featureLayer;

        // var infoWindow = new InfoWindow({
        //   domNode: domConstruct.create("div", null, dom.byId("mapDiv"))
        // });

        var popup = new Popup({
          fillSymbol: new SimpleFillSymbol(SimpleFillSymbol.STYLE_SOLID,
            new SimpleLineSymbol(SimpleLineSymbol.STYLE_SOLID,
              new Color([255, 0, 0]), 2), new Color([255, 255, 0, 0.25]))
        }, domConstruct.create("div"));

        map = new Map("map", {
          basemap: "gray",
          center: [-46.807, 32.553],
          zoom: 3,
          infoWindow: popup
        });
        //hide the popup if its outside the map's extent
        map.on("mouse-drag", function(evt) {
          if (map.infoWindow.isShowing) {
            var loc = map.infoWindow.getSelectedFeature().geometry;
            if (!map.extent.contains(loc)) {
              map.infoWindow.hide();
            }
          }
        });

        //create a feature collection for the flickr photos
        var featureCollection = {
          "layerDefinition": null,
          "featureSet": {
            "features": [],
            "geometryType": "esriGeometryPoint"
          }
        };
        featureCollection.layerDefinition = {
          "geometryType": "esriGeometryPoint",
          "fields": [{
            "name": "Magnitude",
            "alias": "Magnitude",
            "type": "esriFieldTypeString"
          }, {
            "name": "dollar_per_hour",
            "alias": "Dollar/Hour",
            "type": "esriFieldTypeString"
          }, {
            "name": "estimated_travel_time",
            "alias": "Estimated Travel Time",
            "type": "esriFieldTypeString"
          }]
        };
        //create a feature layer based on the feature collection
        featureLayer = new FeatureLayer(featureCollection, {
          id: 'flickrLayer'
        });

        function pointToExtent (map, point, toleranceInPixel) {
          var pixelWidth = map.extent.getWidth() / map.width;
          var toleranceInMapCoords = toleranceInPixel * pixelWidth;
          return new Extent(point.x - toleranceInMapCoords,
                            point.y - toleranceInMapCoords,
                            point.x + toleranceInMapCoords,
                            point.y + toleranceInMapCoords,
                            map.spatialReference);
        }

        

        var heatmapRenderer = new HeatmapRenderer({
          field: "Magnitude",
          blurRadius: 13,
          maxPixelIntensity: 150,
          minPixelIntensity: 0,
          colors: [
            { ratio: 0, color: "rgba(200, 255, 0, 0)" },
            { ratio: 0.2, color: "rgba(200, 220, 0, 0.5)" },
            { ratio: 0.4, color: "rgba(200, 200, 0, 0.6)" },
            { ratio: 0.6, color: "rgba(220, 160, 0, 0.7)"},
            { ratio: 0.7, color: "rgba(250, 130, 0, 0.8)"},
            { ratio: 0.8, color: "rgba(250, 60, 0, 0.8)"},
            { ratio: 0.8, color: "rgba(250, 40, 0, 0.9)"},
            { ratio: 0.99, color: "rgb(250, 0, 0)"}
          ]
        });
        /*
        [
            { ratio: 0, color: "rgba(250, 0, 0, 0)" },
            { ratio: 0.2, color: "rgba(250, 60, 0, 0)" },
            { ratio: 0.4, color: "rgb(250, 160, 0)" },
            { ratio: 0.6, color: "rgb(220, 220, 0)"},
            { ratio: 0.99, color: "rgb(200, 255, 0)"}
          ]
        */
        map.on("layers-add-result", function(results) {
          requestPhotos();
        });
        featureLayer.setRenderer(heatmapRenderer);
        //add the feature layer that contains the flickr photos to the map
        map.addLayers([featureLayer]);

      function requestPhotos() {
        //get geotagged photos from flickr
        //tags=flower&tagmode=all
        /*
        var requestHandle = esriRequest({
          url: "http://api.flickr.com/services/feeds/geo?&format=json",
          callbackParamName: "jsoncallback"
        });
        requestHandle.then(requestSucceeded, requestFailed);
        */
        /*
        var requestHandle = esriRequest({
          url: "http://localhost:5000/",
          callbackParamName: "jsoncallback"
        });
        requestHandle.then(requestSucceeded, requestFailed);
        */
        var response = [];
        $.get('api/get_score?latitude=100&longitude=101', function (data) {
          requestSucceeded(jQuery.parseJSON(data));
        });
      }

      //function requestSucceeded(response, io) {
      function requestSucceeded(response) {
        //loop through the items and add to the feature layer
        var features = [];
        var minLongitude = 10000,
          maxLongitude = -10000;
          minLatitude = 10000,
          maxLatitude = -10000,
          maxscore = -10000;
        for (var i = 0; i < response.data.length; i++) {
          item = response.data[i];
          var newitem = {};
          newitem.latitude = item.latitude
          newitem.longitude = item.longitude
          newitem.link = item.link
          if (item.latitude < minLatitude) {
            minLatitude = item.latitude;
          }
          if (item.latitude > maxLatitude) {
            maxLatitude = item.latitude;
          }
          if (item.longitude < minLongitude) {
            minLongitude = item.longitude;
          }
          if (item.longitude > maxLongitude) {
            maxLongitude = item.longitude;
          }
          if (item.score > maxscore) {
            maxscore = item.score;
          }
        };

        for (var i = 0; i < response.data.length; i++) {
          item = response.data[i];
          var newitem = {};
          newitem.latitude = item.latitude
          newitem.longitude = item.longitude
          newitem.link = item.link
          var attr = {};
          attr["Dollar/Hour"] = item.dollar_per_hour;
          attr["Estimated Travel Time"] = item.estimated_travel_time;
          attr["Magnitude"] = item.score / maxscore * 10;

          var geometry = new Point(newitem);

          var graphic = new Graphic(geometry);
          graphic.setAttributes(attr);
          features.push(graphic);
        };
        /*
        var longitudes = features.map(function(e) {return e.geometry.x;});
        var latitudes = features.map(function(e) {return e.geometry.y;});
        var minLongitude = Math.min.apply(null, longitudes),
          maxLongitude = Math.max.apply(null, longitudes);
        var minLatitude = Math.min.apply(null, latitudes),
          maxLatitude = Math.max.apply(null, latitudes);
        */
        
        var extent = new esri.geometry.Extent({
          "xmin":minLongitude,"ymin":minLatitude,"xmax":maxLongitude,"ymax":maxLatitude,
          "spatialReference":{"wkid":4326}
        });
        map.setExtent(extent);
        setTimeout(function() {featureLayer.applyEdits(features, null, null);}, 1000);

        //associate the features with the popup on click
        map.on("click", function (event) {
          var query = new Query();
          query.geometry = pointToExtent(map, event.mapPoint, 10);
          var deferred = featureLayer.selectFeatures(query,
            FeatureLayer.SELECTION_NEW);
          if (deferred.results[0][0].length != 0){
            var attrs = deferred.results[0][0][0]["attributes"];
          }
          map.infoWindow.setFeatures([deferred]);
          map.infoWindow.show(event.mapPoint);
        });
      }

      function requestFailed(error) {
        console.log('failed');
      }
    });
    </script>
  </head>
  <body >
    <div id="map"></div>
  </body>

</html>
