<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    		{% if page.prev_page is defined %}
				<a href="{{page.prev_page}}"><img class="navbar-brand-logo navbar-back-button" alt="Brand" src="img/back.png"></a>
			{% else %}
				<a href="#"><img class="navbar-brand-logo" alt="Brand" src="img/hackducklogo.png"></a>
	        {% endif %}
    </div>

    {% if page.nav_title is defined %}
    	<div class="navbar-logo">{{page.nav_title}}</div>
    {% else %}
    	<img class="navbar-logo" alt="Brand" src="img/scanvengerlogo.png">
    {% endif %}
  </div><!-- /.container-fluid -->
</nav>