<html>
{%include 'header.html'%}
<script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>

<body>
	{%include 'nav.html'%}
	<div class="jumbotron vertical-center">
  	  <div class="container picker-container">
	  	  <div id="picker-label">My Total Savings:</div>
	  	  <div id="picker-balance"></div>
  	  </div>
	</div>
	<script type="text/javascript">
	$(document).ready(function() {
		var ref = new Firebase("https://scanvenger.firebaseio.com/users/{{data.id}}/customer_id");
		ref.once("value", function(data) {
			var id = data.A.B;

			$.ajax({
				method: 'GET',
				url: "http://api.reimaginebanking.com/customers/"+id+"/accounts?key=dd10dc4f2037e2a8284c21c4a7f37d1b",
				contentType: 'application/json',
				success: function(results){
					/*var content = '<table>';
					for(var i = 0; i < results.length; i++) {
						content += '<tr>';
						content += '<td>'+results[i]._id+'</td>';
						content += '<td>'+results[i].type+'</td>';
						content += '<td>'+results[i].nickname+'</td>';
						content += '<td>$'+results[i].balance+'</td>';
						content += '</tr>';
					}
					content += '</table>';
					$('#content').html(content);*/

					$('#picker-balance').html('$'+results[0].balance);

				},
				error: function(results) {
					console.log(JSON.stringify(results));
				}
			});
		});
	});
	</script>
</body>
</html>