<html>
{%include 'header.html'%}
<script src="https://cdn.firebase.com/js/client/2.3.1/firebase.js"></script>
<style type="text/css">
	body {
		height: 100vh;
		overflow: initial;
	}
	
	.vertical-center {
		margin-bottom: 0;
	}

	.login-container {
		margin-top: 0px !important;
	}
</style>
<body>
	{%include 'nav.html'%}
	{% if is_post %}
		<script type="text/javascript">
		$(document).ready(function() {
			var ref = new Firebase("https://scanvenger.firebaseio.com");
			console.log("{{data.username}}");
			ref.createUser({
				email    : "{{data.username}}",
				password : "{{data.password}}"
			}, function(error, userData) {
				if (error) {
					console.log("Error ", error);
				} else {
					console.log("Successfully created user account with uid:", userData.uid);

					$.ajax({
						method: 'POST',
						url: 'http://api.reimaginebanking.com/customers?key=dd10dc4f2037e2a8284c21c4a7f37d1b',
						dataType: 'json',
						data: JSON.stringify({
							"first_name": "{{data.firstname}}",
							"last_name": "{{data.lastname}}",
							"address": {
								"street_number": "{{data.streetnumber}}",
								"street_name": "{{data.streetname}}",
								"city": "{{data.city}}",
								"state": "{{data.state}}",
								"zip": "{{data.zip}}"
							}
						}),
						contentType: 'application/json',
						success: function(results){

							$.ajax({
								method: 'POST',
								async: false,
								url: 'http://api.reimaginebanking.com/customers/'+results.objectCreated._id+'/accounts?key=dd10dc4f2037e2a8284c21c4a7f37d1b',
								dataType: 'json',
								data: JSON.stringify({
									"type": "Savings",
									"nickname": "main-account",
									"rewards": 0,
									"balance": 0
								}),
								contentType: 'application/json',
								success: function(results){
								},
								error: function(results) {
									console.log(JSON.stringify(results));
								}
							});

							var usersRef = ref.child("users");
							usersRef.child(userData.uid).set({
								customer_id: results.objectCreated._id
							});
							window.location.replace("picker-login");
						},
						error: function(results) {
							console.log(JSON.stringify(results));
						}
					});
				}
			});
		});
		</script>
		<h2 style="text-align:center;">Processing...</h2>
	{% else %}
	<div class="jumbotron vertical-center">
  	  <div class="container login-container">
  	  	<form action="#" method="post" id="form">
			<div class="row login-row">
  	  	  		Username
  	  	  		<input type="text" name="username" value="">
	  		</div>
  	  		<div class="row login-row">
  	  	  		Password
  	  	  		<input type="password" name="password" value="">
  	  		</div>
			<div class="row login-row">
  	  	  		First Name
  	  	  		<input type="text" name="firstname" value="">
	  		</div>
			<div class="row login-row">
  	  	  		Last Name
  	  	  		<input type="text" name="lastname" value="">
	  		</div>
			<div class="row login-row">
  	  	  		Street Number
  	  	  		<input type="text" name="streetnumber" value="">
	  		</div>
			<div class="row login-row">
  	  	  		Street Name
  	  	  		<input type="text" name="streetname" value="">
	  		</div>
			<div class="row login-row">
  	  	  		City
  	  	  		<input type="text" name="city" value="">
	  		</div>
			<div class="row login-row">
  	  	  		State
  	  	  		<input type="text" name="state" value="">
	  		</div>
			<div class="row login-row">
  	  	  		Zip
  	  	  		<input type="text" name="zip" value="">
	  		</div>
  		  	<div class="row login-row">
				<input type="submit" class="login-button" value="Submit">
			</div>
		</form>
      </div>
    </div>
<!-- 	<form action="#" method="post" id="form">
		Username:
		<br>
		<input type="text" name="username" value="">
		<br>
		Password:
		<br>
		<input type="text" name="password" value="">
		<br>
		First name:
		<br>
		<input type="text" name="firstname" value="">
		<br>
		Last name:
		<br>
		<input type="text" name="lastname" value="">
		<br>
		Street Number:
		<br>
		<input type="text" name="streetnumber" value="">
		<br>
		Street Name:
		<br>
		<input type="text" name="streetname" value="">
		<br>
		City:
		<br>
		<input type="text" name="city" value="">
		<br>
		State:
		<br>
		<input type="text" name="state" value="">
		<br>
		Zip Code:
		<br>
		<input type="text" name="zip" value="">
		<br>
		<br>
		<input type="submit" value="Submit">
	</form> -->
	{% endif %}
</body>
</html>