<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}
  <body>
    {% include 'nav.html' %}

    <div class="jumbotron vertical-center">
  		<div class="container">
	  	  	<div class="row landing-row">
	  	  	  <div class="col-xs-6 img-box-parent">
	  	  	  	<a href="/discover">
		  	  	  	<div class="img-box">
		  	  	  		<img src="img/discovericon.png">
		  	  	  		<span>Discover</span>
		  	  	  	</div>
	  	  	  	</a>
	  	  	  </div>
	  	  	  <div class="col-xs-6 img-box-parent">
	  	  	  	<a href="/picker-home">
	  	  	  	<div class="img-box">
	  	  	  		<img src="img/savingicons.png">
	  	  	  		<span>Saving</span>
	  	  	  	</div>
	  	  	  	</a>
	  	  	  </div>
	        </div>
	  	  	<div class="row landing-row">
	  	  	  <div class="col-xs-6 img-box-parent">
	  	  	  	Find out where can you find the most recyclables.
	  	  	  </div>
	  	  	  <div class="col-xs-6 img-box-parent">
	  	  	  	Create an account and save money for the future.
	  	  	  </div>
	        </div>
    	</div>
    </div>
  </body>
</html>